<!DOCTYPE html>
<html lang="en">

<%- include('includes/head') %>

<body>

    <nav>
        <ul>
            <li>Filmes</li>
            <li>Cadastro</li>
            <li>Contato</li>
        </ul>
    </nav>
    <h1>Filme <%= filme.nome %></h1>
    <h3>Lançado em: <%= filme.lancamento %></h3>

</body>
</html>