<header>
    <h1 id="nav-title">IFLIX</h1>
    <nav>
        <ul>
            <li><a href="/filmes">FILMES</a></li>
            <li><a href="/login.html">LOGIN</a></li>
            <li><a href="/filmes/cadastrar">CADASTRAR</a></li>
        </ul>
    </nav>
</header>